<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>W górach</title>
</head>
<body>
    <nav class="navbar">
        <a href="../index.html"><h1 class="logo">W GÓRACH</h1></a>
        <ul href="" class="navlinks">
            <li><a href="../index.html">Główna</a></li>
            <li><a href="#"></a>Miejsca</li>
            <li class="active"><a href="#"></a>O mnie</li>
            <li><a href="./contact.html">Kontakt</a></li>
        </ul>
        <img src="../img/logo.png" alt="menu" id="menu" class="menu">
    </nav>

    <header>
        <div class="header-content">
            <h2>Testowa strona o górach</h2>
            <div class="line"></div>
            <h1>Piękne miejsca</h1>
            <a href="./contact.html" class="more">Odkryj więcej</a>
        </div>
    </header>

    <section class="about">
        <div class="row">
            <h1>O MNIE</h1>
            <div class="line"></div>
            <img src="../img/me2.jpg" alt="me">
            <p>Witaj, jestem Jakub Królicki</p>
            <p>To jest prosta strona w HTLM, CSS, JS</p>
            <p>Zdjęcia umieszczone na stronie należą do mnie. Proszę nie kopiować bez zgody.</p>
        </div>
    </section>

    <footer>
        <p>Wetlina 55, 38-608 Wetlina | 321 333 221 | thekubax100@gmail.com</p>
        <p>2022 Jakub Królicki</p>
        <a href="https://github.com/Krolicki"><img src="../img/github.png" alt=""></a>
    </footer>

    <a href="#" class="top">
        <img src="../img/top.png" alt="" class="topimg">
    </a>

    <script src="../script.js" type="text/javascript"></script>
</body>
</html>