<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>W górach</title>
</head>
<body>
    <nav class="navbar">
        <a href="../index.html"><h1 class="logo">W GÓRACH</h1></a>
        <ul href="" class="navlinks">
            <li><a href="../index.html">Główna</a></li>
            <li><a href="#"></a>Miejsca</li>
            <li><a href="./about.html">O mnie</a></li>
            <li class="active"><a href=""></a>Kontakt</li>
        </ul>
        <img src="../img/logo.png" alt="menu" id="menu" class="menu">
    </nav>

    <header>
        <div class="header-content">
            <h2>Testowa strona o górach</h2>
            <div class="line"></div>
            <h1>Piękne miejsca</h1>
        </div>
    </header>

    <section class="trips">
        <div class="row">
            <div class="col infocol contact">
                <h1>KONTAKT</h1>
                <div class="line"></div>
                <p>Adres:</p>
                <p>Wetlina 55, 38-608 Wetlina</p>
                <p>tel.:321 333 221</p>
                <p><a href="mailto:thekubax100@gmail.com">email: thekubax100@gmail.com </a></p>
            </div>
            <div class="col imgcol">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2610.036269610323!2d22.488209615684465!3d49.14293577931647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473be24058d57443%3A0xd3507c64696a281c!2sWetlina%2055%2C%2038-608%20Wetlina!5e0!3m2!1spl!2spl!4v1650125554290!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Wetlina 55, 38-608 Wetlina | 321 333 221 | thekubax100@gmail.com</p>
        <p>2022 Jakub Królicki</p>
        <a href="https://github.com/Krolicki"><img src="../img/github.png" alt=""></a>
    </footer>

    <a href="#" class="top">
        <img src="../img/top.png" alt="" class="topimg">
    </a>

    <script src="../script.js" type="text/javascript"></script>
</body>
</html>