<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>W górach</title>
</head>
<body>
    <nav class="navbar">
        <a href="../index.html"><h1 class="logo">W GÓRACH</h1></a>
        <ul href="" class="navlinks">
            <li><a href="../index.html">Główna</a></li>
            <li class="active"><a href="#"></a>Miejsca</li>
            <li><a href="./about.html">O mnie</a></li>
            <li><a href="./contact.html">Kontakt</a></li>
        </ul>
        <img src="../img/logo.png" alt="menu" id="menu" class="menu">
    </nav>

    <header>
        <div class="header-content">
            <h2>Testowa strona o górach</h2>
            <div class="line"></div>
            <h1>Piękne miejsca</h1>
            <a href="./contact.html" class="more">Odkryj więcej</a>
        </div>
    </header>

    <section class="post">
        <div class="row">
            <div class="col-text">
                <h4>Pieniny - Wysoki Wierch</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, doloremque? Natus eum culpa libero numquam reprehenderit! Explicabo possimus fuga natus nulla quod iure voluptatem, nostrum excepturi consequatur dicta, a voluptas?</p>
                <a href="" class="more">Czytaj więcej</a>
            </div>
            <div class="col-img">
                <img src="../img/7.jpg" alt="">
            </div>
        </div>
    </section>
    <div class="line"></div>
    <section class="post">
        <div class="row">
            <div class="col-img">
                <img src="../img/10.jpg" alt="">
            </div>
            <div class="col-text">
                <h4>Ferdel - Wieża widokowa</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, doloremque? Natus eum culpa libero numquam reprehenderit! Explicabo possimus fuga natus nulla quod iure voluptatem, nostrum excepturi consequatur dicta, a voluptas?</p>
                <a href="" class="more">Czytaj więcej</a>
            </div>
        </div>
    </section>
    
    <footer>
        <p>Wetlina 55, 38-608 Wetlina | 321 333 221 | thekubax100@gmail.com</p>
        <p>2022 Jakub Królicki</p>
        <a href="https://github.com/Krolicki"><img src="../img/github.png" alt=""></a>
    </footer>

    <a href="#" class="top">
        <img src="../img/top.png" alt="" class="topimg">
    </a>

    <div class="cookie">
        <h1>Ta strona używa plików cookie</h1>
        <button class="acceptCookie">Rozumiem</button>
    </div>

    <script src="../script.js" type="text/javascript"></script>
</body>
</html>